<h3>Active Questions</h3>
<% if @active_questions.empty? %>
  <p><em>There are no active questions at this time.</em></p>
<% else %>
    <table class="striped responsive-table">
      <thead>
        <tr>
          <th>Question</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @active_questions.each do |q| %>
          <tr>
            <td><%= link_to q.question, question_path(q) %></td>
            <td><%= link_to "Edit", edit_question_path(q), class: "waves-effect waves-light btn" %></td>
            <td>
              <%= link_to "Delete", question_path(q),
                  method: 'delete',
                  data: {confirm: "Are you sure you want to permanently delete #{q.question}?"},
                  class: "waves-effect waves-light btn red" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>
