<br>
<%= link_to "Return to this competency's questions ", questions_path(:competency_id => @competency_id), class: "waves-effect waves-light btn-large"  %>

<h2>Manage Question</h2>

<%= render "question_details" %>
