<div id="pick-assessment">
  <h2>Pick an Assessment</h2>

  <% if @active_competencies.empty? %>
    <p><em>There are no assessments at this time.</em></p>
  <% else %>
    <div class="row">
      <% @active_competencies.each do |c| %>
        <div class="col s12 m6">
          <div class="card horizontal hoverable">
            <div class="card-image">
              <%= image_tag "logos/CMU-Tartan-Digital-Half.png" %>
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <span class="card-title">
                  <%= link_to c.name, disclaimer_assessment_path(competency_id: c) %>
                </span>
                <span><%= c.description %></span>
              </div>
              <div class="card-action">
                <%= link_to "Take This Assessment!", disclaimer_assessment_path(competency_id: c) %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  standardizeCardSize();
</script>