<h1><%= "Assessent Report for #{@competency.name}" %></h1>

<% @indicators_resources.each do |stage, irs| %>
  <h3><%= stage.capitalize %></h3>

  <ul>
    <% irs.each do |indicator, level_resources| %>
      <li><%= "#{indicator} - Level: #{level_resources[:level].name}" %></li>

      <ul>
        <% level_resources[:resources].each do |resource| %>
          <li><%= link_to resource.title, resource.link %></li>
        <% end %>
      </ul>
    <% end %>
  </ul>
<% end %>