<div id="take-assessment">
  <h2><%= "#{@competency.name} Assessment" %></h2>

  <div class="row">
    <div id="assessment-errors"></div>
  </div>

  <% if @questions.empty? %>
    <p><em>There are no questions for this assessment at this time.</em></p>
  <% else %>

    <div class="row">
      <div id="assessment-progress">
        <div id="assessment-bar"></div>
      </div>
    </div>

    <%= render "form" %>

    <script>
      initAssessment(<%= @questions.length %>);
    </script>

  <% end %>

  <div class="row">
    <%= link_to "Pick Another Assessment", assessments_path %>
  </div>
</div>
