<h1><%= "Take #{@competency.name} Assessment" %></h1>

<div id="assessment-errors"></div>

<% if @questions.empty? %>
  <p><em>There are no questions for this assessment at this time.</em></p>
<% else %>
  <div id="assessmentProgress">
    <div id="assessmentBar"></div>
  </div>

  <%= render "form" %>

  <script>
    initAssessment(<%= @questions.length %>);
  </script>

<% end %>

<br>
<%= link_to "Pick Another Assessment", assessments_path %>