<p>
  <strong>Name:</strong> <%= @paradigm.name %>
</p>

<p>
  <strong>Description:</strong> <%= @paradigm.description %>
</p>

<p>
  <strong>Ranking:</strong> <%= @paradigm.ranking %>
</p>

<p>
  <strong>Active:</strong> <%= @paradigm.active ? "Yes" : "No" %>
</p>
