<div id="alert-box" class="row">
  <div class="col s12 m12">
    <div class="<%= "card error" %>">
      <div class="row">
        <div class="col s12 m10">
          <div class="card-content white-text">
            <strong>
                <%= pluralize(object.errors.count, "error") %> prohibited this <%= object.class.name.downcase %> from being saved:
            </strong>
            <% object.errors.full_messages.each_with_index do |msg, i| %>
              <p><%= "#{i+1}. #{msg}"%></p>
            <% end %>
          </div>
        </div>
        <div class="col s12 m2">
          <i id="alert-close" class="material-icons icon-style">close</i>
        </div>
      </div>
    </div>
  </div>
</div>
