<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Professional Development Services</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="http://www.cmu.edu">CMU Home</a></li>
          <li><a class="grey-text text-lighten-3" href="http://www.cmu.edu/hr/professional-development/">CMU PDS Home</a></li>
        </ul>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Contact Us</h5>
        <ul>
          <li><span class="grey-text text-lighten-3">5000 Forbes Ave, Pittsburgh, PA 15213</span></li>
          <li><span class="grey-text text-lighten-3">(412) 268-9099</span></li>
          <li><a class="grey-text text-lighten-3" href="mailto:professionaldevelopment@andrew.cmu.edu ">professionaldevelopment@andrew.cmu.edu</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <span id="copyright"></span>
    </div>
  </div>
</footer>
    