<nav role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo">
      <%= image_tag "logos/CMU_Logo_Horiz_White.png", id: "cmu-logo" %>
    </a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">About</a></li>
      <li><a href="#">Assessments</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="#">About</a></li>
      <li><a href="#">Assessments</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="right button-collapse">
      <i class="material-icons">menu</i>
    </a>
  </div>
</nav>