<header>
  <div class="navbar-fixed">
    <nav role="navigation" class="nav-extended">
      <div class="nav-content">
        <div class="container">
          <a href="http://www.cmu.edu/">
            <%= image_tag "logos/CMU_Logo_Horiz_White.png", id: "cmu-logo" %>
          </a>
        </div>
      </div>

      <div class="nav-wrapper container">
        <a id="logo-container" href="http://www.cmu.edu/hr/professional-development/" class="brand-logo left">
          <%= image_tag "logos/PDS_plain_logo_white_horiz.png", id: "pds-logo" %>
        </a>
        <ul class="right hide-on-med-and-down">
          <%= render "partials/navbar_menu" %>
        </ul>

        <a href="#" data-activates="nav-mobile" class="right button-collapse">
          <i class="material-icons">menu</i>
        </a>
      </div>
    </nav>
  </div>

  <ul id="nav-mobile" class="side-nav">
    <%= render "partials/navbar_menu" %>
  </ul>
</header>
