<h3>Create Indicator Resource Mapping</h3>

  <div class="row">
    <div class="col s12 m5">
      <div class="card-panel teal">
        <span class="white-text">
          Indicator: <%= @indicator.description %>
        </span>
      </div>
    </div>
  </div>

<%= render "form" %>

<br>
