<div class="row">
  <div class="col s12 center">
    <h3><i class="mdi-content-send brown-text"></i></h3>
    <h4 class="header secondary-color">Building Competence</h4>
    <p class="center-align banner-text">A competency is made up of demonstrable performance or behaviors that are grounded in content and context. There are three types of skills within each competence, and each type is demonstrated by specific behavioral indicators.</p>
  </div>
</div>

<div class="row">
  <div class="col s12 m4">
    <div class="icon-block">
      <h2 class="center brown-text"><i class="material-icons">remove_red_eye</i></h2>
      <h5 class="center secondary-color">Cognitive Skills</h5>
      <p class="light center">Cognitive Skills include your ability to think critically and analyze, see the significance of observations and events, anticipate future events, problem solve, and select the best course of action.</p>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="icon-block">
      <h2 class="center brown-text"><i class="material-icons">directions_run</i></h2>
      <h5 class="center secondary-color">Psychomotor Skills</h5>
      <p class="light center">Psychomotor Skills include your ability to perform physical tasks, such as using muscle memory to complete routine tasks, and your ability to develop skills through on the job training.</p>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="icon-block">
      <h2 class="center brown-text"><i class="material-icons">people</i></h2>
      <h5 class="center secondary-color">Interpersonal Skills</h5>
      <p class="light center">Interpersonal Skills include your ability to work and interact with others, collaborate, and resolve conflict.</p>
    </div>
  </div>
</div>

<div class="row">
  <h4 class="secondary-color center">Our Foundational Competencies</h4>
  <div class="carousel">
    <a class="carousel-item">
      <div class="card">
        <div class="card-image">
          <img src="http://lorempixel.com/250/250/nature/1">
          <span class="card-title">Communication</span>
        </div>
      </div>
    </a>
    <a class="carousel-item">
      <div class="card">
        <div class="card-image">
          <img src="http://lorempixel.com/250/250/nature/2">
          <span class="card-title">Creativity and Innovation</span>
        </div>
      </div>
    </a>
    <a class="carousel-item">
      <div class="card">
        <div class="card-image">
          <img src="http://lorempixel.com/250/250/nature/3">
          <span class="card-title">Decision Making</span>
        </div>
      </div>
    </a>
    <a class="carousel-item">
      <div class="card">
        <div class="card-image">
          <img src="http://lorempixel.com/250/250/nature/4">
          <span class="card-title">Intercultural Awareness</span>
        </div>
      </div>
    </a>
    <a class="carousel-item">
      <div class="card">
        <div class="card-image">
          <img src="http://lorempixel.com/250/250/nature/5">
          <span class="card-title">Managing Conflict</span>
        </div>
      </div>
    </a>
    <a class="carousel-item">
      <div class="card">
        <div class="card-image">
          <img src="http://lorempixel.com/250/250/nature/6">
          <span class="card-title">Priority Management</span>
        </div>
      </div>
    </a>
    <a class="carousel-item">
      <div class="card">
        <div class="card-image">
          <img src="http://lorempixel.com/250/250/nature/7">
          <span class="card-title">Problem Solving</span>
        </div>
      </div>
    </a>
    <a class="carousel-item">
      <div class="card">
        <div class="card-image">
          <img src="http://lorempixel.com/250/250/nature/8">
          <span class="card-title">Strategic Visioning</span>
        </div>
      </div>
    </a>
    <a class="carousel-item">
      <div class="card">
        <div class="card-image">
          <img src="http://lorempixel.com/250/250/nature/9">
          <span class="card-title">Utilizing Technology</span>
        </div>
      </div>
    </a>
    <a class="carousel-item">
      <div class="card">
        <div class="card-image">
          <img src="http://lorempixel.com/250/250/nature/9">
          <span class="card-title">Working with Others</span>
        </div>
      </div>
    </a>
  </div>
</div>
