<div class="row">
  <div class="col s12 center">
    <h3><i class="mdi-content-send brown-text"></i></h3>
    <h4 class="header secondary-color">Companion to Champion Model</h4>
    <p class="center-align banner-text">We developed a competency model to meet your specific learning needs based on what we know about Carnegie Mellon University. Each level of mastery corresponds with the expected, observable behavioral indicators for a particular competence area. It is important to note that your level of mastery does not equate to your position or place on an organizational chart. You develop your skills and abilities in a variety of ways and often beyond your role at CMU. We hope to assist you in recognizing your level of mastery and provide suggestions on how to build upon your abilities.</p>
  </div>
</div>

<div class="row center">
  <a class="waves-effect waves-light btn" href="#companion">Companion</a>
  <div id="companion" class="modal">
    <div class="modal-content">
      <h4>Companion</h4>
      <p>As a Companion, you are beginning your journey to develop this competency through learning new skills and approaches. You benefit when instruction and support is provided.</p>
      <p>Education, training, coaching and practice</p>
      <p>Testing and observations</p>
    </div>
    <button class="modal-action modal-close btn-flat" >X</button>
  </div>

  <a class="waves-effect waves-light btn" href="#contributer">Contributer</a>
  <div id="contributer" class="modal">
    <div class="modal-content">
      <h4>Contributer</h4>
      <p>As a Contributor, you are someone who has developed a strong foundation of skills within this competency, but you want to increase your abilities and achieve consistent application.</p>
      <p>Access to knowledge and performance resources, coaching and practice</p>
      <p>Organizational contributions</p>
    </div>
    <button class="modal-action modal-close btn-flat">X</button>
  </div>

  <a class="waves-effect waves-light btn" href="#champion">Champion</a>
  <div id="champion" class="modal">
    <div class="modal-content">
      <h4>Champion</h4>
      <p>As a Champion, you are someone who has a practiced understanding of this competency. You strive to integrate the strategies and skills you have developed and apply these skills to the challenges and opportunities you face. You are able to support others in the development of this competency.</p>
      <p>Collaboration and problem-solving</p>
      <p>Innovation</p>
    </div>
    <button class="modal-action modal-close btn-flat">X</button>
  </div>
</div>
