<div class="row">
  <div class="col s12 center">
    <h3><i class="mdi-content-send brown-text"></i></h3>
    <h4 class="header secondary-color">Our Professional Development Paradigm</h4>
    <p class="center-align banner-text">We get you. We get CMU. We understand the degree of excellence that is expected of you. We understand your time is valuable and your work is important. We recognize you as an adult learner and value the talents, abilities, and experiences you possess. We encourage you to think beyond traditional training approaches and urge you to take full advantage of the opportunities you have to build your skills and abilities every day.</p>
  </div>
</div>

<div class="row">
  <div class="col s12 m4">
    <div class="icon-block">
      <h2 class="center brown-text"><i class="material-icons">find_in_page</i></h2>
      <h5 class="center secondary-color">Build Understanding</h5>
      <p class="light center">One of the easiest and most convenient ways to expand your knowledge is by reading. Stay up-to-date on new trends and innovations in your field as a great way to stay motivated.</p>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="icon-block">
      <h2 class="center brown-text"><i class="material-icons">assessment</i></h2>
      <h5 class="center secondary-color">Do Something</h5>
      <p class="light center">Identify a particular skill or ability and create a strategy on how you will implement it into your work. Build time into your schedule to practice the skill.</p>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="icon-block">
      <h2 class="center brown-text"><i class="material-icons">assessment</i></h2>
      <h5 class="center secondary-color">Engage With Others</h5>
      <p class="light center">Exchange thoughts, offer support and share best practices to grow in your own skills by learning from others and their experiences.</p>
    </div>
  </div>  
</div>

<div class="row">
  <div class="col s12 m4">
    <div class="icon-block">
      <h2 class="center brown-text"><i class="material-icons">find_in_page</i></h2>
      <h5 class="center secondary-color">Think About It</h5>
      <p class="light center">Reflection is a great tool to use for professional development. Taking the time to think about your work, challenges and progress is extremely beneficial.</p>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="icon-block">
      <h2 class="center brown-text"><i class="material-icons">show_chart</i></h2>
      <h5 class="center secondary-color">Learn More</h5>
      <p class="light center">Gaining new skills, ideas and knowledge plays an important role in job satisfaction and career development. Attend a workshop to learn best practices and the foundational theory on a particular topic. Engage with other colleagues to allow for the vital exchange of ideas and experiences. Take the opportunity to practice the concepts delivered in the session and discuss the ways in which they apply to your work allows you to determine their relevance and usefulness to you.</p>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="icon-block">
      <h2 class="center brown-text"><i class="material-icons">show_chart</i></h2>
      <h5 class="center secondary-color">Get Connected</h5>
      <p class="light center">Utilizing technology to enhance your learning is convenient and flexible. You can augment instructor-led workshops, complete on-demand webinars or courses and get timely answers to your questions.</p>
    </div>
  </div>
</div>
