<div class="row">
  <div class="col s12 center">
    <h3><i class="mdi-content-send brown-text"></i></h3>
    <h4 class="header secondary-color">Your Professional Development Plan</h4>
    <p class="center-align banner-text">Once you complete a competency assessment, save the link to your assessment report and thesuggested strategies to build competence in a given area. The suggestions are framed using our professional development paradigm and the related competency indicators. From there, you can utilize your plan to set professional development goals, schedule workshops and activities, and share your plan with your supervisor or co-worker.</p>
  </div>
</div>
