<p>
  <strong>Name:</strong> <%= @competency.name %>
</p>

<p>
  <strong>Description:</strong> <%= @competency.description %>
</p>

<p>
  <strong>Active:</strong> <%= @competency.active ? "Yes" : "No" %>
</p>