<h3>Inactive Competencies</h3>
<% if @inactive_competencies.empty? %>
  <p><em>There are no inactive competencies at this time.</em></p>
<% else %>
  <div class="row">
    <% @inactive_competencies.each do |c| %>
      <%= render partial: "partials/competency_card", locals: {object: c} %>
    <% end %>
  </div>
<% end %>
