<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>CompetentU</h1>
    <p>
      You have successfully completed an assessment. Use this link to revist your report anytime.
    </p>
    <p>
      <%= link_to "Click Here For Your Report" , @link %>.
    </p>
    <p>Thank You and have a great day!</p>
  </body>
</html>
