<p>
  <strong>Name:</strong> <%= @level.name %>
</p>

<p>
  <strong>Description:</strong> <%= @level.description %>
</p>

<p>
  <strong>Ranking:</strong> <%= @level.ranking %>
</p>

<p>
  <strong>Active:</strong> <%= @level.active ? "Yes" : "No" %>
</p>