<p>
  <strong>Description:</strong> <%= @indicator.description %>
</p>

<p>
  <strong>Competency:</strong> <%= @indicator.competency_id %>
</p>

<p>
  <strong>Level:</strong> <%= @indicator.level_id %>
</p>

<p>
  <strong>Active:</strong> <%= @indicator.active ? "Yes" : "No" %>
</p>