/*
 * ============================================================================
 * General CSS
 * ============================================================================
 */

.hidden {
  display: none;
}

.primary-color {
  color: $cmu-red;
}

.secondary-color {
  color: $cmu-teal;
}

* {
  font-family: 'Open Sans', Helvetica, sans-serif;
}

h1, h2 {
  color: $cmu-dark-red;
}

h3, h4, h5, h6 {
  color: $cmu-green;
}


/* Nav Bar */

nav #cmu-logo {
  margin: 5px 0px;
  width: 25%;
  min-width: 200px;
}

nav #pds-logo {
  padding-top: 5px;
  width: 30%;
  max-height: 64px;
}

nav .nav-content {
  background-color: $cmu-dark-gray;
}

/* Admin Nav Bar */

nav .admin-nav-content {
  background-color: $cmu-teal;
}

/* Pick Assessment */

#pick-assessment .card-image{
  max-width: 20%;
}

#pick-assessment .card-image img{
  height: 100%;
  width: 100%;
}

#pick-assessment .card-title a {
  color: $secondary-color;
  font-weight: 600;
}

#pick-assessment .card-action a {
  color: $cmu-dark-red;
}


/*
 * ============================================================================
 * Assessment CSS
 * ============================================================================
 */

#assessment-progress {
    width: 100%;
    background-color: grey;
}

#assessment-bar {
    width: 0%;
    height: 30px;
    background-color: green;
    text-align: center;
    line-height: 30px;
    color: white;
}

/*
 * ============================================================================
 * Admin Dashboard
 * ============================================================================
 */

.center-text {
  text-align: center;
}

 .dash-side-nav-btn {
   font-size: 100%
 }

 #dash-cards .card-image{
   max-width: 30%;
 }
