/*
 * ============================================================================
 * General CSS
 * ============================================================================
 */
@import "materialize";

* {
  font-family: 'Open Sans', Helvetica, sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-y: scroll;
}

#main {
  flex: 1 0 auto;
}

h1, h2 {
  color: $cmu-dark-red;
}

strong {
  font-weight: 600;
}

footer {
  background-color: $cmu-dark-gray !important;
}

.hidden {
  display: none;
}

.primary-color {
  color: $cmu-red;
}

.secondary-color {
  color: $cmu-teal;
}

.primary-color-background {
  background-color: $primary-color;
}

.secondary-color-background {
  background-color: $secondary-color;
}

.cmu-blue-background {
  background-color: $cmu-blue;
}

.cmu-green-background {
  background-color: $cmu-green;
}

.bold {
  font-weight: 600;
}

#toast-container {
  top: auto !important;
  right: 7%;
  bottom: 10%;
  left: auto !important;
}

.navbar-fixed {
  height: 90px;
}

h3, h4, h5, h6 {
  color: $cmu-green;
}


/* Flash Message */

.icon-style {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: white;
  cursor:pointer;
}

#alert-box {
  margin-top: 20px;
  margin-bottom: 0px;
}

.notice {
  background-color: $cmu-blue;
}

.success {
  background-color: $cmu-green;
}

.error {
  background-color: $cmu-red;
}


/* Nav Bar */

nav #cmu-logo {
  margin: 5px 0px;
  width: 25%;
  min-width: 200px;
}

nav #logo-container {
  width: 40%;
  min-width: 200px;
}

nav #pds-logo {
  padding-top: 5px;
  width: 100%;
  max-height: 64px;
}

nav .nav-content {
  background-color: $cmu-dark-gray;
}

nav ul li.active {
  background-color: rgba(0, 0, 0, 0.2);
}

nav ul li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/* Admin Nav Bar */

nav .admin-nav-content {
  background-color: $cmu-teal;
}

#admin-nav {
  background-color: $cmu-teal;
}

/* Home Page */

.banner-text {
  font-size: 20px;
}

.header {
  font-weight: 600;
}

.parallax-container {
  height: 450px;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

/* About Page */

#about .banner-text {
  font-size: 16px;
}

#about button.modal-action.modal-close {
  position: absolute;
  top: 0;
  right: 0;
}

#about .tabs {
  overflow-x: hidden;
}

#about #competencies .card-content {
  background-color: $cmu-dark-gray;
  padding: 15px;
}

#about #competencies .card-content p {
  font-size: 22px;
  max-width: 100%;
}

#about #competencies .carousel {
  height: 450px;
}

#about #competencies .carousel .carousel-item {
  width: 400px !important;
  top: -100px;
}

/*
 * ============================================================================
 * Assessment CSS
 * ============================================================================
 */

/* Pick Assessment */

#pick-assessment .card-image{
  max-width: 20%;
}

#pick-assessment .card-image img{
  height: 100%;
  width: 100%;
}

#pick-assessment .card-title a {
  color: $secondary-color;
  font-weight: 600;
}

#pick-assessment .card-action a {
  color: $cmu-dark-red;
}


/* Take Assessment */

#assessment-progress {
    width: 100%;
    background-color: $cmu-dark-gray;
}

#assessment-bar {
    width: 0%;
    height: 30px;
    background-color: $cmu-teal;
    text-align: center;
    line-height: 30px;
    color: white;
    transition: all 0.5s ease;
}

#take-assessment form {
  margin-top: 5%;
}

#take-assessment form .question {
  font-size: 19px;
}

#assessment-submit {
  background-color: $cmu-green;
}


/* Assessment Report */

#tap-menu {
  bottom: 45px;
  right: 25px;
}

.tap-target-content {
  top: 45px !important;
}

.collapsible-body.indicator {
  padding: 0px;
}

.collection-header.paradigm {
  padding: 0px 10px !important;
}

#levels-chart {
  margin-top: 30px;
}

.stage-description {
  color: $cmu-green;
  font-size: 20px;
}

.report-subheading {
  color: $cmu-dark-red;
}


/* Printable Assessment Report */

@media print {
  #printable-report .page-break {
    display: block;
    page-break-before: always;
  }

  header {
    display: none;
  }

  #printable-report .card span, #printable-report .card p {
    color: black !important;
  }

  #printable-report .collection-item {
    border-style: none !important;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  #printable-report .collapsible-header {
    line-height: 1.3rem !important;
    font-size: 19px !important;
  }

  #printable-report .printable {
    display: none;
  }

}

/*
 * ============================================================================
 * Admin Dashboard
 * ============================================================================
 */

.center-text {
  text-align: center;
}

 .dash-side-nav-btn {
   font-size: 100%
 }

 #dash-cards .card-image{
   max-width: 30%;
 }

 .dataTables_paginate {
   float: right
 }

 .paginate_button {

   padding: 5px;
 }

 .paginate_button:hover {
   border: 1px solid;
   border-color: #cacaca;
   background: $cmu-red;
   color: white;
  }

 .paginate_button.current {
   border: 1px solid;
   border-color: #cacaca;
   background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%);
   color: black;
 }
