/*
 * ============================================================================
 * General CSS
 * ============================================================================
 */

.hidden {
  display: none;
}

nav #logo-container, #cmu-logo {
  width: 25%;
  min-width: 200px;
}

nav #pds-logo {
  width: 50%;
}

#pds-banner {
  width: 100%;
}


/*
 * ============================================================================
 * Assessment CSS
 * ============================================================================
 */

#assessment-progress {
    width: 100%;
    background-color: grey;
}

#assessment-bar {
    width: 0%;
    height: 30px;
    background-color: green;
    text-align: center;
    line-height: 30px;
    color: white; 
}